{% extends "layout.html" %}

{% block title %}Tweet | X{% endblock %}


{% block content %}
<h1  class="mt-4 p-4 text-white">List of Tweets</h1>

<a href="{% url "tweet_create" %}}" class="btn btn-primary">Create Tweet</a>

<div class="container row gap-3">
    {% for tweet in tweets  %}
    <div class="card" style="width: 18rem; margin-top: 2rem;">
        <img src="{{tweet.photo.url}}" class="card-img-top" style="width: 16rem; height: 15rem; margin-top:1rem; border-radius:1rem;" alt="{{tweet.user.username}}">
        <div class="card-body">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}</p>
          <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit </a>
          <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger ms-2 ">Delete </a>
        </div>
      </div>
    {% endfor %}

</div>

{% endblock %}